# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Advent Of Code 2020/.vs/Advent Of Code 2020/v16/.suo
Advent Of Code 2020/obj/Advent Of Code 2020.csproj.nuget.g.props
Advent Of Code 2020/obj/Advent Of Code 2020.csproj.nuget.g.targets
Advent Of Code 2020/obj/Debug/netcoreapp3.1/Advent Of Code 2020.AssemblyInfoInputs.cache
*.cache
Day1/obj/Debug/netcoreapp3.1/Day1.csproj.FileListAbsolute.txt
Day1/obj/Debug/netcoreapp3.1/Day1.pdb
Day1/bin/Debug/netcoreapp3.1/Day1.pdb
